<section class="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture
          ><source
            srcset="
              ../img/catalog-item-1-img-desktop.png    1x,
              ../img/catalog-item-1-img-desktop-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog-item-1-img-tablet.png    1x,
              ../img/catalog-item-1-img-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/catalog-item-1-img.png    1x,
              ../img/catalog-item-1-img-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="../img/catalog-item-1-img-desktop.png"
            alt="clock"
            class="catalog-img"
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-text">€500</p>
      </li>
      <li class="catalog-item">
        <picture
          ><source
            srcset="
              ../img/catalog-item-2-img-desktop.png    1x,
              ../img/catalog-item-2-img-desktop-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog-item-2-img-tablet.png    1x,
              ../img/catalog-item-2-img-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/catalog-item-2-img.png    1x,
              ../img/catalog-item-2-img-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="../img/catalog-item-2-img-desktop.png"
            alt="clock"
            class="catalog-img"
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
        <p class="catalog-text">€450</p>
      </li>
      <li class="catalog-item">
        <picture
          ><source
            srcset="
              ../img/catalog-item-3-img-desktop.png    1x,
              ../img/catalog-item-3-img-desktop-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog-item-3-img-tablet.png    1x,
              ../img/catalog-item-3-img-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/catalog-item-3-img.png    1x,
              ../img/catalog-item-3-img-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="../img/catalog-item-3-img-desktop.png"
            alt="clock"
            class="catalog-img"
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
        <p class="catalog-text">€680</p>
      </li>
      <li class="catalog-item">
        <picture
          ><source
            srcset="
              ../img/catalog-item-4-img-desktop.png    1x,
              ../img/catalog-item-4-img-desktop-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog-item-4-img-tablet.png    1x,
              ../img/catalog-item-4-img-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/catalog-item-4-img.png    1x,
              ../img/catalog-item-4-img-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="../img/catalog-item-4-img-desktop.png"
            alt="clock"
            class="catalog-img"
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
        <p class="catalog-text">€380</p>
      </li>
      <li class="catalog-item item-none">
        <picture
          ><source
            srcset="
              ../img/catalog-item-5-img-desktop.png    1x,
              ../img/catalog-item-5-img-desktop-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog-item-5-img-tablet.png    1x,
              ../img/catalog-item-5-img-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="../img/catalog-item-5-img-desktop.png"
            alt="clock"
            class="catalog-img"
          />
        </picture>
        <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-text">€400</p>
      </li>
      <li class="catalog-item item-none">
        <picture
          ><source
            srcset="
              ../img/catalog-item-6-img-desktop.png    1x,
              ../img/catalog-item-6-img-desktop-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/catalog-item-6-img-tablet.png    1x,
              ../img/catalog-item-6-img-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="../img/catalog-item-6-img-desktop.png"
            alt="clock"
            class="catalog-img"
          />
        </picture>
        <h3 class="catalog-subtitle">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-text">€395</p>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
