<section>
    <div class="container">
        <h2 class="subheader">Contact Us</h2>
        <div class="form-container">
            <p class="form-describe">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
            <form>
                <div class="input-wraper">
                    <input type="text" name="user-name" class="info-input" id="user-name" placeholder="Name">
                </div>
                <div class="input-wraper">
                <input type="text" name="user-email" class="info-input" id="user-name" placeholder="Email">
                </div>
                <div class="input-wraper">
                <input type="text" name="user-phone" class="info-input" id="user-name" placeholder="+380">
                </div>
                <div class="comment-wraper">
                <textarea name="user-comment" id="user-comment" placeholder="Comment" class="comment-input"></textarea>
            </div>
                <button class="info-button" type="submit">Send</button>
            </form>
        </div>
        <div class="image-wraper-about-us">
            <img srcset="../img/contact-us-img.jpg 1x, ../img/contact-us-img-2x.jpg 2x" alt="contact-us">
        </div>
    </div>
</section>