<section>
    <div class="container">
        <h2 class="subheader">Contact Us</h2>
        <div class="form-container">
            <p class="form-describe">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
            <form>
                <div class="input-wraper">
                <label for="user-name">
                    <input type="text" name="user-name" class="info-input" id="user-name" placeholder="Name">
                </label>
                </div>
                <div class="input-wraper">
                <label for="user-email">
                    <input type="text" name="user-email" class="info-input" id="user-email" placeholder="Email">
                </label>
                </div>
                <div class="input-wraper">
                <label for="user-phone">
                    <input type="text" name="user-phone" class="info-input" id="user-phone" placeholder="+380">
                </label>
                </div>
                <div class="comment-wraper">
                <label for="user-comment">
                    <textarea name="user-comment" id="user-comment" placeholder="Comment" class="comment-input"></textarea>
                </label>
            </div>
                <button class="info-button" type="submit">Send</button>
            </form>
        </div>
        <div class="image-wraper-about-us">
            <picture>
                <source srcset="../img/contact-us-img.jpg 1x, ../img/contact-us-img-2x.jpg 2x" media="(max-width: 768px)">
                <source srcset="../img/contact-us-img-tablet.jpg 1x, ../img/contact-us-img-tablet-2x.jpg 2x" media="(max-width: 1280px)">
                <source srcset="../img/contact-us-img-desktop.jpg 1x, ../img/contact-us-img-desktop-2x" media="">
                <img src="../img/contact-us-img.jpg" alt="contact-us" width="" height="" class="">
            </picture>
        </div>
    </div>
</section>