<header class="header">
  <div class="container">
    <a href="" class="logo">watchcharm</a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="" class="header-nav-link current">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link">About Us</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Catalog</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Sale</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="header-soc-list">
      <li class="header-soc-item">
        <a href="" class="header-soc-link">
          <svg class="header-soc-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a href="" class="header-soc-link">
          <svg class="header-soc-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a href="" class="header-soc-link">
          <svg class="header-soc-icon" width="20" height="20">
            <use href="../img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="burger-btn">
      <svg class="burger-icon" width="34" height="34">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
