<header class="header">
  <div class="container">
    <a href="./index.html" class="header-logo">watchcharm</a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="./index.html" class="header-nav-link current">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#about-us" class="header-nav-link">About Us</a>
        </li>
        <li class="header-nav-item">
          <a href="#catalog" class="header-nav-link">Catalog</a>
        </li>
        <li class="header-nav-item">
          <a href="#sale" class="header-nav-link">Sale</a>
        </li>
        <li class="header-nav-item">
          <a href="#reviews" class="header-nav-link">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a href="#contact-us" class="header-nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="header-soc-list">
      <li class="header-soc-item">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="header-soc-link"
        >
          <svg class="header-soc-icon" width="20" height="20">
            <use href="/img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="header-soc-link"
        >
          <svg class="header-soc-icon" width="20" height="20">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-soc-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          class="header-soc-link"
        >
          <svg class="header-soc-icon" width="20" height="20">
            <use href="/img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button type="button" class="burger-btn">
      <svg class="burger-icon" width="34" height="34">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="backdrop">
    <div class="mob-menu">
      <button type="button" class="mob-menu-close-btn">
        <svg class="mob-menu-close-icon" width="34" height="34">
          <use href="/img/icons.svg#icon-exit"></use>
        </svg>
      </button>
      <nav class="mob-menu-nav">
        <ul class="mob-menu-nav-list">
          <li class="mob-menu-nav-item">
            <a href="./index.html" class="mob-menu-nav-link current">Home</a>
          </li>
          <li class="mob-menu-nav-item">
            <a href="#about-us" class="mob-menu-nav-link">About Us</a>
          </li>
          <li class="mob-menu-nav-item">
            <a href="#catalog" class="mob-menu-nav-link">Catalog</a>
          </li>
          <li class="mob-menu-nav-item">
            <a href="#sale" class="mob-menu-nav-link">Sale</a>
          </li>
          <li class="mob-menu-nav-item">
            <a href="#reviews" class="mob-menu-nav-link">Reviews</a>
          </li>
          <li class="mob-menu-nav-item">
            <a href="#contact-us" class="mob-menu-nav-link">Contact Us</a>
          </li>
        </ul>
      </nav>
      <ul class="mob-menu-soc-list">
        <li class="mob-menu-soc-item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="mob-menu-soc-link"
          >
            <svg class="mob-menu-soc-icon" width="18" height="18">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mob-menu-soc-item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="mob-menu-soc-link"
          >
            <svg class="mob-menu-soc-icon" width="18" height="18">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mob-menu-soc-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="mob-menu-soc-link"
          >
            <svg class="mob-menu-soc-icon" width="18" height="18">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
