<!-- Section hero -->
<section class="hero">
  <div class="container">
    <div class="hero-wraper">
      <div class="info-block">
        <div class="text-block">
          <h1 class="title-h-one">
            Welcome to our <span>collection</span> of premium watches
          </h1>
          <p class="description">
            Our watches are not just timepieces, but also an expression of your
            personality and lifestyle. From classic designs to modern ones, we
            have a watch to suit every taste and occasion.
          </p>
        </div>
        <div class="middle-block">
          <div class="icons-block">
            <div class="icon">
              <img src="./images/Ellipse-21.png" alt="lom" />
            </div>
            <div class="icon">
              <img src="./images/Ellipse-22.png" alt="lom" />
            </div>
            <div class="icon">
              <img src="./images/Ellipse-23.png" alt="lom" />
            </div>
          </div>
          <button type="button" class="scroll-down">Scroll down</button>
        </div>
      </div>
      <div class="image-block">
        <img src="./images/Rectangle-10-1x-desk-top (1).jpg" alt="lom" />
      </div>
    </div>
  </div>
</section>
