<!-- Section hero -->
<section class="hero">
  <div class="container">
    <div class="hero-wraper">
      <div class="info-block">
        <div class="text-block">
          <h1 class="title-h-one">
            Welcome to our <span>collection</span> of premium watches
          </h1>
          <p class="description">
            Our watches are not just timepieces, but also an expression of your
            personality and lifestyle. From classic designs to modern ones, we
            have a watch to suit every taste and occasion.
          </p>
        </div>
        <div class="middle-block">
          <div class="icons-block">
            <div class="icon">
              <img
                srcset="/img/review-img-1.png 1x, /img/review-img-1-2x.png 2x" 
                src="/img/review-img-1.png"
                alt="lom"
              />
            </div>
            <div class="icon">
              <img
                srcset="/img/review-img-2.png 1x, /img/review-img-2-2x.png 2x"
                src="/img/review-img-2.png"
                alt="lom"
              />
            </div>
            <div class="icon">
              <img
                srcset="/img/review-img-3.png 1x, /img/review-img-3-2x.png 2x"                
                src="/img/review-img-3.png"
                alt="lom"
              />
            </div>
          </div>
          <a href="#footer" class="scroll-down">Scroll down</a>
        </div>
      </div>
      <div class="image-block">
        <picture>
          <source
            srcset="/img/hero-img-desktop.jpg 1x, /img/hero-img-desktop-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/hero-img-tablet.jpg 1x, /img/hero-img-tablet-2x.jpg 2x"
            media="(max-width: 1279px)"
          />
          <source
            srcset="/img/hero-img.jpg 1x, /img/hero-img-2x.jpg 2x" 
            media="(max-width: 767px)"
          />
          <img src="/img/hero-img.jpg" alt="lom" />
        </picture>
      </div>
    </div>
  </div>
</section>
