<section class="conteiner">
    <div class="conteiner-sale">
        <h2 class="titel-sale">
            Sale
        </h2>
        <div class="sale">
            <div class="sale-picture-all">
            <div class="sale-img-list">
                <ul class="sale-list">
                    <li class="sale-item">
                        <picture>
                            <source srcset="./img/sale-item-1-img-tablet.png, ./img/sale-item-1-img-tablet-2x.png" media="(min-width: 768px)" />
                            <source srcset="./img/sale-item-1-img.png, ./img/sale-item-1-img-2x.png" media="(max-width: 767px)" />
                        <img class="item-img" 
                        src="./img/sale-item-1-img.png" 
                        alt="watches1"
                        width="52"
                        height="54">
                    </picture>
                    </li>
                    <li class="sale-item">
                        <picture>
                            <source srcset="./img/sale-item-2-img-tablet.png, ./img/sale-item-2-img-tablet-2x.png" media="(min-width: 768px)" />
                            <source srcset="./img/sale-item-2-img.png, ./img/sale-item-2-img-2x.png" media="(max-width: 767px)" />
                        <img class="item-img" 
                        src="./img/sale-item-2-img.png" 
                        alt="watches2"
                        width="52"
                        height="54">
                    </picture>
                    </li>
                    <li class="sale-item">
                        <picture>
                            <source srcset="./img/sale-item-3-img-tablet.png, ./img/sale-item-3-img-tablet-2x.png" media="(min-width: 768px)" />
                            <source srcset="./img/sale-item-3-img.png, ./img/sale-item-3-img-2x.png" media="(max-width: 767px)" />
                        <img class="item-img" 
                        src="./img/sale-item-3-img.png" 
                        alt="watches3"
                        width="52"
                        height="54">
                    </picture>
                    </li>
                    <li class="sale-item">
                        <picture>
                            <source srcset="./img/sale-item-4-img-tablet.png, ./img/sale-item-4-img-tablet-2x.png" media="(min-width: 768px)" />
                            <source srcset="./img/sale-item-4-img.png, ./img/sale-item-4-img-2x.png" media="(max-width: 767px)" />
                        <img class="item-img" 
                        src="./img/sale-item-4-img.png" 
                        alt="watches4"
                        width="52"
                        height="54">
                    </picture>
            <div class="picture">
            <picture class="sale-picture">
                <source srcset="./img/sale-img-tablet.png, ./img/sale-img-tablet-2x.png" media="(min-width: 768px)" />
                <source srcset="./img/sale-img.png, ./img/sale-img-2x.png" media="(max-width: 767px)" />
               <img class="picture-img" src="./img/sale-img.png"
               alt="watches5" 
               width="235" 
               height="285">
            </picture>
        </div>
            </div>
            <div class="sale-content">
                <h3 class="sale-content-titel">
                    MARQ® Commander (Gen 2) - Carbon Edition
                </h3>
                <p class="text-tag">Product tag: 706587</p>
                <div class="price">
                <button class="price-btn" type="button">€1500</button>
                <p class="price-not">€3000</p>
            </div>
                <p class="sale-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions. </p>
                <div class="text-list-conteiner">
                    <ul class="tetx-list">
                        <li class="text-item">
                            Fused carbon fiber 
                        </li>
                        <li class="text-item">
                            Grade-5 Titanuim
                        </li>
                        <li class="text-item">
                            Athlete
                        </li>
                        <li class="text-item">
                            Golfer
                        </li>
                        <li class="text-item">
                            Commander
                        </li>
                        <li class="text-item">
                            Adventurer
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>