.about-us-picture {
    width: 335px;
}

.container {
}

.about-us-hero {
  border-radius: 30px;
  width: 335px;
  background: #f3f3f3;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.about-us-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;
}

.about-us-texts {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.about-us-text {
  max-width: 295px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.about-us-btn {
  display: block;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  border: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  margin-top: 40px;
  padding-top: 15px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us-img {
  border-radius: 30px;
  width: 335px;
  height: 446px;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .about-us-picture {
    width: 100%;
  }

  .about-us-hero {
    width: 100%;
  }
}

/* tablet */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-us-picture {
    width: 704px;
  }

  .about-us-hero {
    border-radius: 50px;
    width: 704px;
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
    margin-bottom: 40px;
  }

  .about-us-title {
    margin-bottom: 40px;
  }

  .about-us-btn {
  }

  .about-us-img {
    border-radius: 50px;
    width: 704px;
    height: 512px;
  }

  .about-us-text {
    max-width: 584px;
  }
}

/* PC */

@media screen and (min-width: 1280px) {
  .about-us-picture {
    width: 530px;
  }

  .about-us-div {
    display: flex;
    gap: 40px;
  }

  .about-us-hero {
    border-radius: 50px;
    width: 580px;
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
    margin-bottom: 0px;
  }

  .about-us-text {
    max-width: 460px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
  }

  .about-us-img {
    border-radius: 50px;
    width: 530px;
    height: 532px;
  }

  .about-us-btn {
  }

  .about-us-btn:hover {
    background: #1f3cd4;
  }

  .about-us-btn:active {
    background: #1f3cd4;
  }
}
