.hero-wraper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
}

.info-block {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.text-block .title-h-one {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  width: 335px;
}

.text-block .title-h-one span {
  color: #3350e9;
}

.text-block .description {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  width: 335px;
}

.middle-block {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* width: 146px; */
  margin-top: 28px;
}

.icons-block {
  display: flex;
  margin-left: 20px;
}

.icons-block .icon {
  background-color: transparent;
  border-radius: 100%;
  stroke-width: 2px;
  stroke: #fbfbfb;
  height: 60px;
  width: 60px;
  flex-shrink: 0;
  margin-left: -20px;
  overflow: hidden;
}

.scroll-down {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  background: none;
  border: none;
  text-align: right;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-down:hover, .scroll-down:active {
  color: #3350E9;
}

.image-block {
  background-color: #434455;
  border-radius: 30px;
  width: 335px;
  height: 366px;
  overflow: hidden;
  position: relative;
}

.image-block img {
  /* width: auto; */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 375px) {

  .info-block {
    flex-direction: column;
    gap: 28px;
  }

  .text-block {
    width: 100%;
    max-width: 335px;
  }

  .text-block .title-h-one {
    font-size: 40px;
    width: 100%;
  }

  .text-block .description {
    font-size: 14px;
    width: 100%;
  }

  .middle-block {
    flex-direction: row;
    width: 100%;
  }
  .icons-block .icon {
    background-color: aqua;
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb;
    height: 44px;
    width: 44px;
    flex-shrink: 0;
    margin-left: 0px;
    margin-right: -20px;
    border: 1px solid #3350e9;
    overflow: hidden;
  }

  .image-block {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .text-block {
    width: 557px;
  }

  .text-block .description {
    width: 480px;
  }

  .middle-block {
    flex-direction: column;
    margin-top: 0;
  }

  .text-block .title-h-one {
    font-size: 70px;
    width: 557px;
  }

  .image-block {
    height: 520px;
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {

  .info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .middle-block {
    flex-direction: column;
    margin-top: 0;
  }

  .text-block .title-h-one {
    font-size: 72px;
    width: 597px;
  }

  .text-block .description {
    width: 480px;
  }

  .image-block {
    height: 500px;
    width: 1150px;
  }
}
