.reviews {
    justify-content: center;
}

.reviews-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.92;
    letter-spacing: -0.02em;
    color: #0c0c0c;

    margin-bottom: 24px;
}

.reviews-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 8px;

    overflow-x: auto;
}

.reviews-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    max-width: 335px;

    border-radius: 30px;
    padding: 32px 36px;

    background: #f3f3f3;
}

.reviewer-photo {
    margin-bottom: 24px;
}

.reviewer-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;

    margin-bottom: 8px;
}

.review-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
}

@media screen and (min-width: 768px) {
    .reviews-title {
        margin-bottom: 40px;
    }

    .reviews-list {
        gap: 16px;
    }

    .reviews-list-item {
        max-width: 344px;
    }

    .reviewer-name {
        font-size: 18px;
        line-height: 1.1;
    }

    .review-text {
        font-size: 16px;
        line-height: 1.25;
    }
}

@media screen and (min-width: 1280px) {
    .reviews-list {
        gap: 20px;
    }

    .reviews-list-item {
        max-width: 370px;
    }
}